$green: #3bd69d;
$black: black;

body {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.card > input, .card > textarea {
  padding: 4px 2px 4px 4px;
  margin: 2px 0px 2px 0px;
}

.card > textarea {
  resize: vertical;
  min-height: 15em;
  width: 100%;
}

#g-recaptcha > div {
  margin: auto;
  margin-top: 4px;
}

#date {
}

#date > .rdt {
  display: inline;
}

#date > .rdt > .rdtPicker {
  right: 0;
}

.send {
  text-align: center;
}

.send-button {
  height: 100%;
  padding: 0px;
  margin-left: 2px;
}
